* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
:root {
  --primary: rgb(37 38 47);
  --secondary: rgb(59 102 245);
}
.dropdown {
  width: 100%;
  max-width: 47.5rem;
  margin: 5rem auto;
  position: relative;
  color: black;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.dropdown__list {
  margin-top: 2.5rem;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
}
.dropdown__list:before {
  content: "";
  height: 2.5rem;
  position: absolute;
  left: 0;
  right: 0;
  line-height: 1px;
  background-color: transparent;
  transform: translateY(-100%);
}
.dropdown:hover .dropdown__list {
  display: block;
}

.dropdown__select,
.dropdown__item {
  width: 100%;
  height: 100%;
  max-height: 3rem;
  padding: 3rem 1.5rem;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown__select {
  background-color: white;
  border-radius: inherit;
}

.dropdown__item {
  transition: background-color 0.2s linear;
}
.dropdown__item:first-child {
  border-radius: 4px 4px 0 0;
  position: relative;
}
.dropdown__item:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 3rem;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--primary);
  transform: translateY(-100%);
  transition: border-color 0.2s linear;
}
.dropdown__item:first-child:hover:before {
  border-bottom-color: var(--secondary);
}
.dropdown__item:last-child {
  border-radius: 0 0 4px 4px;
}
.dropdown__item:hover {
  background-color: var(--secondary);
}

.dropdown__text {
  margin: 0 auto;
  color: white;
}
